body {
	background-color: #fff;
}
#left, #right {
	float: left;
}
#left {
	margin-right: 15px;
}
#left table, #left table td, #left table th {
	border-collapse: collapse;
	border: 1px solid #000080;
}
#left table td, #left table th {
	padding:3px 7px;
}
.t2, .t3 {
	text-align: center;
}
.t1 a {
	color: #000;
}
.blokovany .t1 a {
	color: #f00;
	text-decoration: line-through;
}
#left table th.t1 {
/* 	display: block; */
	width: 190px;
}
#left table th.t2 {
/* 	display: block; */
	width: 75px;
}
#left table th.t3 {
/* 	display: block; */
	width: 50px;
}
#right #vystup {
	display: block;
	width: 760px;
	height: 700px;
	border: 1px solid #000080;
	padding: 10px;
	overflow: auto;
}